---
class: plugins
---

<div class="container">
  <div class="row clearfix">
    <div class="panel">
      <div class="card">
        <h3><a href="https://github.com/Esri/esri-leaflet-geocoder/">Geocoder</a></h3>
        <p>
          Includes a search box control you can add to your map, as well as low level tools for making geocoding requests.
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-geocoder&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-geocoder&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <h3><a href="https://github.com/Esri/esri-leaflet-renderers">Renderers</a></h3>
        <p>
          Ensure that symbology defined by ArcGIS Server and ArcGIS Online for feature layers is inherited in Leaflet.
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-renderers&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-renderers&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <h3><a href="https://github.com/Esri/esri-leaflet-vector/">Vector Tiles</a></h3>
        <p>
          An <b>experimental</b> plugin to visualize Vector tiles from ArcGIS Online, built on top of <a href="https://github.com/mapbox/mapbox-gl-leaflet">mapbox-gl-leaflet</a>.
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-vector&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-vector&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="panel">
      <div class="card">
        <h3><a href="https://github.com/ynunokawa/L.esri.WebMap">WebMap</a></h3>
        <p>
          A plugin for loading Web maps created in <a href='https://www.arcgis.com'>ArcGIS</a> using their id!
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=ynunokawa&repo=L.esri.WebMap&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=ynunokawa&repo=L.esri.WebMap&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="card">
          <h3><a href="https://github.com/rowanwins/esri-leaflet-stream">Stream Feature Layer</a></h3>
          <p>
            A plugin for displaying Stream layers published to ArcGIS Server using <a href="http://www.esri.com/software/arcgis/arcgisserver/extensions/geoevent-extension">GeoEvent</a>.
          </p>
          <iframe src="https://ghbtns.com/github-btn.html?user=rowanwins&repo=esri-leaflet-stream&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
          <br>
          <iframe src="https://ghbtns.com/github-btn.html?user=rowanwins&repo=esri-leaflet-stream&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <h3><a href="https://github.com/Esri/esri-leaflet-clustered-feature-layer">Clustered Feature Layer</a></h3>
        <p>
          Visualize feature layers using clustering with the help of <a href="https://github.com/Leaflet/Leaflet.markercluster">Leaflet.markercluster</a>.
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-cluster&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-cluster&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="panel">
      <div class="card">
        <h3><a href="https://github.com/Esri/esri-leaflet-heatmap-feature-layer">Heatmap Feature Layer</a></h3>
        <p>
          Visualize feature layers with heatmaps via <a href="https://github.com/Leaflet/Leaflet.heat">Leaflet.heat</a>.
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-heatmap&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=esri&repo=esri-leaflet-heatmap&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <h3><a href="https://github.com/SVoyt/esri-leaflet-dynamic-advanced">Dynamic Map Layer</a></h3>
        <p>
          A more advanced DynamicMapLayer implementation that includes support for continuous panning across the dateline.
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=svoyt&repo=esri-leaflet-dynamic-advanced&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=svoyt&repo=esri-leaflet-dynamic-advanced&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="card">
        <h3><a href="https://github.com/Esri/Leaflet.shapeMarkers">shapeMarkers</a></h3>
        <p>
          Generic, fixed size, shape marker symbols for points in Leaflet.
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=Esri&repo=Leaflet.shapeMarkers&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=Esri&repo=Leaflet.shapeMarkers&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="panel">
      <div class="card">
        <h3><a href="https://github.com/jgravois/esri-leaflet-gp">Geoprocessing</a></h3>
        <p>
          Plugin to assist in working with ArcGIS Geoprocessing Services.
        </p>
        <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=esri-leaflet-gp&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <br>
        <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=esri-leaflet-gp&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="card">
      <h3><a href="https://github.com/jgravois/esri-leaflet-related">Related Records</a></h3>
      <p>
        Plugin to assist in querying ArcGIS Services for related records.
      </p>
      <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=esri-leaflet-related&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      <br>
      <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=esri-leaflet-related&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="card">
      <h3><a href="https://github.com/jgravois/lrm-esri">Leaflet Routing Machine</a></h3>
      <p>
        Leaflet plugin that enables walk, drive and truck routing using Esri's hosted service.
      </p>
      <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=lrm-esri&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      <br>
      <iframe src="https://ghbtns.com/github-btn.html?user=jgravois&repo=lrm-esri&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

    <div class="panel">
      <div class="card">
      <h3><a href="https://github.com/jwasilgeo/Leaflet.Canvas-Flowmap-Layer">Canvas Flowmap Layer</a></h3>
      <p>
        Leaflet plugin for mapping flow with Bezier curves rendered on HTML Canvas.
      </p>
      <iframe src="https://ghbtns.com/github-btn.html?user=jwasilgeo&repo=Leaflet.Canvas-Flowmap-Layer&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      <br>
      <iframe src="https://ghbtns.com/github-btn.html?user=jwasilgeo&repo=Leaflet.Canvas-Flowmap-Layer&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>

  </div>
</div>

