.plugins {
  .section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 1rem;
  }

  .card {
    h3 {
      margin: 0;
    }
    background-color: white;
    padding: 1rem;
  }
}
