<aside class="sidebar">
  <h5>General</h5>
  <nav>
    <a href="{{assets}}tutorials/create-your-first-app.html">Create Your First App</a>
    <a href="{{assets}}tutorials/introduction-to-layer-types.html">Introduction to Layer Types</a>
    <a href="{{assets}}tutorials/working-with-feature-layers.html">Working with Feature Layers</a>
    <a href="{{assets}}tutorials/working-with-authenticated-services-server.html">Working with Authenticated Services</a>
  </nav>
</aside>
