<aside class="sidebar">
  <h5>General</h5>
  <nav>
    <a href="{{assets}}tutorials/display-a-map.html">Display a map</a>
    <a href="{{assets}}tutorials/introduction-to-layer-types.html">Introduction to Layer Types</a>
    <a href="{{assets}}tutorials/javascript-libraries.html">JavaScript Libraries</a>
    <a href="{{assets}}tutorials/working-with-authenticated-services-server.html">Working with Authenticated Services</a>
    <a href="https://developers.arcgis.com/esri-leaflet/maps/change-the-basemap-layer/">Change the basemap layer</a>
  </nav>
  <h5>Layers</h5>
  <nav>
    <a href="https://developers.arcgis.com/esri-leaflet/layers/add-a-vector-tile-layer/">Add a vector tile layer</a>
    <a href="https://developers.arcgis.com/esri-leaflet/layers/add-a-feature-layer-as-geojson/">Add a feature layer</a>
    <a href="https://developers.arcgis.com/esri-leaflet/layers/add-a-raster-tile-layer/">Add a raster tile layer</a>
    <a href="https://developers.arcgis.com/esri-leaflet/layers/display-a-popup/">Display a pop-up</a>
  </nav>
  <h5>Query</h5>
  <nav>
    <a href="https://developers.arcgis.com/esri-leaflet/query-and-edit/query-a-feature-layer-sql/">Query a feature layer (SQL)</a>
    <a href="https://developers.arcgis.com/esri-leaflet/query-and-edit/query-a-feature-layer-spatial/">Query a feature layer (spatial)</a>
  </nav>
  <h5>Visualization</h5>
  <nav>
    <a href="https://developers.arcgis.com/esri-leaflet/styles-and-visualization/style-a-feature-layer/">Style a feature layer</a>
    <a href="https://developers.arcgis.com/esri-leaflet/styles-and-visualization/display-a-custom-vector-tile-style/">Display a custom vector tile style</a>
  </nav>
  <h5>Search</h5>
  <nav>
    <a href="https://developers.arcgis.com/esri-leaflet/geocode-and-search/search-for-an-address/">Search for an address</a>
    <a href="https://developers.arcgis.com/esri-leaflet/geocode-and-search/reverse-geocode/">Reverse geocode</a>
  </nav>
  <h5>Routing</h5>
  <nav>
    <a href="https://developers.arcgis.com/esri-leaflet/geocode-and-search/find-places/">Find places</a>
    <a href="https://developers.arcgis.com/esri-leaflet/route-and-directions/find-a-route-and-directions/">Find a route and directions</a>
    <a href="https://developers.arcgis.com/esri-leaflet/route-and-directions/find-service-areas/">Find service areas</a>
  </nav>
  <h5>Demographics</h5>
  <nav>
    <a href="https://developers.arcgis.com/esri-leaflet/demographic-data/query-demographic-data/">Query demographic data</a>
  </nav>
</aside>
