<aside class="sidebar">
  <h5>General</h5>
  <nav>
    <a href="create-your-first-app.html">Create your First App</a>
    <a href="introduction-to-layer-types.html">Introduction to Layer Types</a>
    <a href="working-with-feature-layers.html">Working with Feature Layers</a>
    <a href="working-with-authenticated-services-server.html">Working with Authenticated Services</a>
  </nav>
</aside>
