---
redirect: https://developers.arcgis.com/esri-leaflet/samples/basemap-with-labels/
title: Basemap with labels
description: Use the "ArcGIS:Imagery" basemap key to get Imagery with Labels. A full list of basemap keys can be found <a href="https://developers.arcgis.com/documentation/mapping-apis-and-services/maps/services/basemap-layer-service/#default-basemap-styles">here</a>.
layout: example.hbs
vector: true
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([37.75, -122.23], 10);

  L.esri.Vector.vectorBasemapLayer('ArcGIS:Imagery', {
    apikey: apiKey // Replace with your API key - https://developers.arcgis.com
  }).addTo(map);
</script>
