---
redirect: https://developers.arcgis.com/esri-leaflet/samples/center-map-on-address/
title: Center the map
description: Geocode an address and then center the map on it automatically. This demo relies of the <a href="https://github.com/Esri/esri-leaflet-geocoder">Esri Leaflet Geocoder</a> plugin.
layout: example.hbs
geocoder: true
---

<div id="map"></div>

<script>
  var map = L.map('map');

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  L.esri.Geocoding.geocode({
    apikey: apiKey // replace with your api key - https://developers.arcgis.com
  }).text('New York City').run(function (error, response) {
    if (error) {
      return;
    }

    map.fitBounds(response.results[0].bounds);
  });
</script>
