---
redirect: https://developers.arcgis.com/esri-leaflet/samples/feature-layer-snapshot/
title: Load each and every feature initially
description: Sometimes it is desirable to load a "snapshot" of a Feature Layer instead of loading it progressively as you pan around the map. The approach is useful for smaller services.
layout: example.hbs
vector: true
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([41.004, -77.618], 7);

  L.esri.Vector.vectorBasemapLayer('ArcGIS:ColoredPencil', {
    apikey: apiKey // Replace with your API key - https://developers.arcgis.com
  }).addTo(map);

  var statesUrl = 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/USA/MapServer/2';
  var citiesUrl = 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/USA/MapServer/0';

  // query a feature service for a state
  L.esri.query({
    url: statesUrl
  }).where("state_name='Pennsylvania'").run(function (error, states) {
    if (error) {
      return;
    }

    // draw state on the map
    var pennsylvania = L.geoJSON(states).addTo(map);

    // fit map to boundary
    map.fitBounds(pennsylvania.getBounds());

    // query all cities with a population greater than 30,000 (pop2000 > 30000) inside our boundary
    L.esri.query({
      url: citiesUrl
    }).where('pop2000 > 30000').within(pennsylvania).run(function (error, cities) {
      if (error) {
        return;
      }

      L.geoJSON(cities).addTo(map);
    });
  });
</script>
