---
redirect: https://developers.arcgis.com/esri-leaflet/samples/image-map-layer-rendering-rule/
title: ImageMapLayer RenderingRule
description: Display an Image Service from ArcGIS Online or ArcGIS Server and apply a rendering rule to dynamically modify the display of the raster dataset. Rendering rules are created using a pre-defined set of <a href="https://developers.arcgis.com/documentation/common-data-types/raster-function-objects.htm">raster functions</a> contained in the ArcGIS Server 10 REST API. This example shows a raster image generated from raw LIDAR (Light Detection and Ranging) data rendered with a hillshade. More information about Image Services can be found in the <a href="/esri-leaflet/api-reference/layers/image-map-layer.html">L.esri.ImageMapLayer</a> documentation.
layout: example.hbs
vector: true
---

<div id="map"></div>

<script>
  var renderingRule = {
    rasterFunction: 'TorontoFalseColor',
    variableName: 'Raster'
  };

  var map = L.map('map').setView([43.645262, -79.38], 14);

  L.esri.Vector.vectorBasemapLayer('ArcGIS:Imagery', {
    apikey: apiKey // Replace with your API key - https://developers.arcgis.com
  }).addTo(map);

  L.esri.imageMapLayer({
    url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Toronto/ImageServer',
    renderingRule: renderingRule,
    useCors: false
  }).addTo(map);
</script>
