---
redirect: https://developers.arcgis.com/esri-leaflet/samples/labeling-features/
title: Labeling Features
description: This demo shows how to add static text labels to the center of features. <strong>This is not the same as fitting labels dynamically</strong>, so labels will start to collide as you zoom out.
layout: example.hbs
vector: true
---

<style>
  .label {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: -1em;
  }

  .label div {
    position: relative;
    left: -50%;
    top: 10px;
    text-shadow: 0px 2px 1px rgba(255,255,255,0.85);
  }
</style>

<div id="map"></div>

<script>
  var map = L.map('map').setView([37.428, -121.978], 9);

  L.esri.Vector.vectorBasemapLayer('ArcGIS:Oceans:Base', {
    apikey: apiKey // Replace with your API key - https://developers.arcgis.com
  }).addTo(map);

  var earthquakes = L.esri.featureLayer({
    url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Earthquakes_Since1970/MapServer/0'
  }).addTo(map);

  var labels = {};

  earthquakes.on('createfeature', function (e) {
    var id = e.feature.id;
    var feature = earthquakes.getFeature(id);
    var center = feature.getLatLng();
    var label = L.marker(center, {
      icon: L.divIcon({
        iconSize: null,
        className: 'label',
        html: '<div>' + e.feature.properties.name + '</div>'
      })
    }).addTo(map);
    labels[id] = label;
  });

  earthquakes.on('addfeature', function (e) {
    var label = labels[e.feature.id];
    if (label) {
      label.addTo(map);
    }
  });

  earthquakes.on('removefeature', function (e) {
    var label = labels[e.feature.id];
    if (label) {
      map.removeLayer(label);
    }
  });
</script>
