---
title: Querying features
description: Configuring a query to filter features on a <code>L.esri.FeatureLayer</code>. More information about Feature Layers can be found in the <a href="../api-reference/layers/feature-layer.html">L.esri.FeatureLayer</a> documentation.
layout: example.hbs
esriLeafletRenderers: true
---

<style>
  #query {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    padding: 1em;
  }

  #query select {
    font-size: 16px;
  }
</style>

<div id="map"></div>

<div id="query" class="leaflet-bar">
  <label>
    Zoning District:
    <select id="district">
      <!-- make sure to encase string values in single quotes for valid sql -->
      <option value="1=1">Any</option>
      <option value="ZONE_SMRY='OPEN SPACE'">Open Space</option>
      <option value="ZONE_SMRY='AGRICULTURE'">Agriculture</option>
      <option value="ZONE_SMRY='RESIDENTIAL'">Residential</option>
      <option value="ZONE_SMRY='COMMERCIAL'">Commercial</option>
      <option value="ZONE_SMRY='INDUSTRIAL'">Industrial</option>
      <option value="ZONE_SMRY='PARKING'">Parking</option>
      <option value="ZONE_SMRY='PUBLIC FACILITY'">Public Facility</option>
    </select>
  </label>
</div>

<script>
  var map = L.map('map').setView([34.19, -118.53], 15);

  L.esri.basemapLayer('Gray').addTo(map);

  var zoning = L.esri.featureLayer({
    url: 'https://services5.arcgis.com/7nsPwEMP38bSkCjy/arcgis/rest/services/TEST_PYTHON_ZONING/FeatureServer/0',
    simplifyFactor: 0.5,
    precision: 4
  }).addTo(map);

  var zoningDistrict = document.getElementById('district');

  zoningDistrict.addEventListener('change', function () {
    zoning.setWhere(zoningDistrict.value);
  });
</script>
