---
title: Raster Basemaps
description: Display classic raster tiled basemaps.
layout: example.hbs
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([40, -4], 6);

  L.esri.basemapLayer('Topographic').addTo(map);
</script>
