---
title: Searching feature layers
description: Searches features layers for matching text in addition to geocoding. This demo relies on the <a href="https://github.com/Esri/esri-leaflet-geocoder">Esri Leaflet Geocoder</a> plugin.
layout: example.hbs
geocoder: true
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([40.91, -96.63], 4);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var arcgisOnlineProvider = L.esri.Geocoding.arcgisOnlineProvider({
    apikey: apiKey // replace with your api key - https://developers.arcgis.com
  });

  var gisDayProvider = L.esri.Geocoding.featureLayerProvider({
    url: 'https://services.arcgis.com/BG6nSlhZSAWtExvp/ArcGIS/rest/services/GIS_Day_Registration_Form_2019_Hosted_View_Layer/FeatureServer/0',
    searchFields: ['event_name', 'host_organization'],
    label: 'GIS Day Events 2019',
    bufferRadius: 5000,
    formatSuggestion: function (feature) {
      return feature.properties.event_name + ' - ' + feature.properties.host_organization;
    }
  });

  L.esri.Geocoding.geosearch({
    providers: [arcgisOnlineProvider, gisDayProvider]
  }).addTo(map);
</script>
