---
title: Showing an ArcGIS basemap
description: Display an ArcGIS Online basemap.  As you pan/zoom, notice that the attribution is updated automatically to give credit to individual data contributors.
layout: example.hbs
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([39, -97.5], 4);

  L.esri.basemapLayer('Streets').addTo(map);
</script>
