---
redirect: https://developers.arcgis.com/esri-leaflet/samples/simple-feature-layer/
title: Simple FeatureLayer
description: Display a feature layer from ArcGIS Online or ArcGIS server. More information about Feature Layers can be found in the <a href="../api-reference/layers/feature-layer.html">L.esri.FeatureLayer</a> documentation.
layout: example.hbs
vector: true
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([37.837, -122.479], 8);

  L.esri.Vector.vectorBasemapLayer('OSM:StandardRelief', {
    apikey: apiKey // Replace with your API key - https://developers.arcgis.com
  }).addTo(map);

  // a Leaflet marker is used by default to symbolize point features.
  L.esri.featureLayer({
    url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Earthquakes_Since1970/MapServer/0'
  }).addTo(map);
</script>
