---
redirect: https://developers.arcgis.com/esri-leaflet/samples/simple-dynamic-map-layer/
title: Simple DynamicMapLayer
description: Display a Map Service from ArcGIS Online or ArcGIS Server.  If the service is published in a different coordinate system than the map, it will reproject on the fly automatically.  More information about Map Services can be found in the <a href="../api-reference/layers/dynamic-map-layer.html">L.esri.DynamicMapLayer</a> documentation.
layout: example.hbs
vector: true
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([37.71, -99.88], 4);

  L.esri.Vector.vectorBasemapLayer('ArcGIS:Imagery:Standard', {
    apikey: apiKey // Replace with your API key - https://developers.arcgis.com
  }).addTo(map);

  L.esri.dynamicMapLayer({
    url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/USA/MapServer',
    opacity: 0.7
  }).addTo(map);
</script>
