---
title: Styling points
description: Custom styles on point features with <code>L.Icon</code>. More information about Feature Layers can be found in the <a href="../api-reference/layers/feature-layer.html">L.esri.FeatureLayer</a> documentation.
layout: example.hbs
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([37.837, -122.479], 8);

  L.esri.basemapLayer('Streets').addTo(map);

  var icon = L.icon({
      iconUrl: 'https://esri.github.io/esri-leaflet/img/earthquake-icon.png',
      iconSize: [27, 31],
      iconAnchor: [13.5, 17.5],
      popupAnchor: [0, -11]
  });

  var earthquakes = L.esri.featureLayer({
    url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Earthquakes_Since1970/MapServer/0',
    pointToLayer: function (geojson, latlng) {
      return L.marker(latlng, {
        icon: icon
      });
    }
  }).addTo(map);  
</script>
