---
title: Styling lines
description: Custom styles for line features with the <code>style</code> option. More information about Feature Layers can be found in the <a href="../api-reference/layers/feature-layer.html">L.esri.FeatureLayer</a> documentation.
layout: example.hbs
vector: true
---

<style>
  #info-pane {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 400;
    padding: 1em;
    background: white;
  }
</style>

<div id="map"></div>
<div id="info-pane" class="leaflet-bar">Hover to inspect</div>

<script>
  var map = L.map('map').setView([37.81, -85.85], 7);

  L.esri.Vector.vectorBasemapLayer('ArcGIS:Topographic:Base', {
    apikey: apiKey // Replace with your API key - https://developers.arcgis.com
  }).addTo(map);

  var bikePaths = L.esri.featureLayer({
    url: 'https://services2.arcgis.com/CcI36Pduqd0OR4W9/ArcGIS/rest/services/Bicycle_Routes_Public/FeatureServer/0',
    style: function (feature) {
      var c;
      switch (feature.properties.D_BI_RT_NAME) {
        case 'Bluegrass Bike Tour':
          c = '#377EB8';
          break;
        case 'Cave Country Bike Tour':
          c = '#E41A1C';
          break;
        case 'Kentucky\'s TransAmerica Bike Trail':
          c = '#4DAF4A';
          break;
        case 'Ramblin\' River Tour':
          c = '#984EA3';
          break;
        case 'Underground Railroad':
          c = '#FF7F00';
          break;
        default:
          c = '#C0C0C0';
      }
      return { color: c, opacity: 0.65, weight: 5 };
    }
  }).addTo(map);

  bikePaths.on('mouseout', function (e) {
    document.getElementById('info-pane').innerHTML = 'Hover to Inspect';
  });

  bikePaths.on('mouseover', function (e) {
    document.getElementById('info-pane').innerHTML = e.layer.feature.properties.D_BI_RT_NAME;
  });
</script>
