---
title: Time Ranges
description: Using time to filter visualized information from a Map Service. Enter dates between 1990 and 2010. More information about Image Services can be found in the <a href="../api-reference/layers/image-map-layer.html">L.esri.ImageMapLayer</a> documentation.
layout: example.hbs
---

<style>
    #time-ranges {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        padding: 1em;
        background: white;
    }
    #time-ranges input {
        display: inline-block;
        border: 1px solid #999;
        font-size: 14px;
        border-radius: 4px;
        height: 28px;
        line-height: 28px;
    }
    #time-ranges input[type='submit'] {
        box-sizing: content-box;
        padding: 0 1em;
        text-transform: uppercase;
        color: white;
        background: #5C7DB8;
        border-color: #5C7DB8;
    }
</style>

<div id="map"></div>

<div id="time-ranges" class="leaflet-bar">
    <form action="#" id="timeForm">
        <label for="timeInput">
            Date
            <input id='timeInput' type="date" value='1990-01-01' name='date'>
        </label>
        <input type="submit" value="Update">
    </form>
</div>

<script>
    var timeForm = document.getElementById('timeForm');
    var timeInput = document.getElementById('timeInput');

    var map = L.map('map').setView([-12.604858, -55.947675], 9);

    L.esri.basemapLayer('Gray').addTo(map);
    L.esri.basemapLayer('GrayLabels').addTo(map);

    var vegetation = L.esri.imageMapLayer({
        url: 'http://imagery.arcgisonline.com/arcgis/rest/services/LandsatGLS/NDVI_Colorized/ImageServer',
        useCors: false,
        layers: [0],
        // for some reason this service in particular sometimes redirects json requests to a bogus IP address
        f: 'image',
        from: new Date(timeInput.value),
        to: new Date(timeInput.value)
    }).addTo(map);

    timeForm.addEventListener('submit', function updateTimeRange(e){
        vegetation.setTimeRange(new Date(timeInput.value), new Date(timeInput.value));
        e.preventDefault();
    });
</script>
